.customForm{
    display: flex;
    flex-wrap: wrap;
}
.container{
    height: fit-content;
}
.inputContainer{
    display: flex;
    position: relative;
    width: 400px;
    justify-content: space-between;
    flex-direction: column;
    margin: 30px;
}
.inputInfo{
    margin-left: 16px;
    color: #8a8a8a;
    font-size: 13px;
    margin-top: 6px;
    width: 200%;
}
.multiple{
    width: 100%;
    display: flex;
}
.deletable{
    background-color: #0084ff;
    color: white;
    margin: 0 10px;
    font-size: 14px;
    height: 30px;
    padding: 7px 12px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
}
.info{
    position: absolute;
    top: 0;
    height: 40px;
    background-color: #e6e6e6;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 421px;
    width: fit-content;
    padding: 7px 12px;
    border-radius: 5px;
}
.flexContainer{
    display: flex;
    width: 100%;
    margin: 30px;
}
.info::before{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 8px solid #e6e6e6;
    border-bottom: 10px solid transparent;
    left: -8px;
    content: "";
    position: absolute;
}
.danger{
    color: #dc3545;
    font-weight: bold;
    font-size: 14px;
    margin: 0 5px;
}
.checkboxContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    margin: 30px;
}
.checkboxContainerFlex{
    display: flex;
    width: 30%;
    justify-content: space-between;
    flex-direction: column;
}

.customFormField{
    width: 100%;

}
.imgInputContainer{
    height: 160px;
    display: flex;
    align-items: center;
}

.avatar{
    width: 140px;
    height: 140px;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.browse{
    height: 28px;
    width: 140px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #dddddd;
    font-size: 13px;
    color: #334141;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.uploadRules{
    font-size: 12px;
    color: #b1b1b1;
    margin-top: 10px;
}
.inputButtons{
    margin-left: 15px;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.btnRemove{
    font-size: 14px;
    color: #0062bd;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: auto;
}
.inputContainerLarge{
    display: flex;
    position: relative;
    width: 80%;
    justify-content: space-between;
    margin: 30px;
}
.multiplePhotoSectionContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.imagesContainer{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.photoButtonsContainer{
    width: 200px;
    height: 100%;
}
.avatarSmall{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flexContainerEditable{
    display: flex;
    width: 100%;
    margin: 30px;
    flex-direction: column;
}