.account-container{
    height: 45px;
    position: absolute;
    top: 12px;
    right: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.user-account-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.user-account-img {
    width: 20px;
    height: 20px;
}
.account-full-name {
    font-size: 15px;
    margin: 0;
}
.links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 9px;
    font-size: 12px;
}
.sign-links:link,
.sign-links:visited{
    text-decoration: none;
    color: rgb(56, 56, 56);
    border-bottom: 1px solid #fff;
}
.sign-links:hover,
.sign-links:active{
    border-bottom: 1px solid rgb(56, 56, 56);
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    margin-left: 5px;
    margin-bottom: -2px;
}

.button-white{
    font-size: 16px;
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 0 10px;
    background-color: white;
    cursor: pointer;
}
.button-white:hover{
    color: black;
   background-color:  #f2f2f2;
}
.button-orange{
    cursor: pointer;
    font-size: 16px;
    width: 140px;
    height: 40px;
    background-color: #ffd500;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.button-orange:hover{
    background-color: #e8c200;
    color: black;
}
