.right-page-container{
    width: calc(100% - 75px);
    min-height: 100%;
    height: fit-content;
    position: absolute;
    right: 0;
    transition: all 0.2s;
    background-color: #f6f7fa;
    z-index: 0;
}
.active-width{
    width: calc(100% - 275px);
}
.bck{
    width: 100%;
    height: 240px;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.prof{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 160px;
    justify-content: space-around;
}
