.customForm{
    display: flex;
    flex-wrap: wrap;
}
.container{
    height: fit-content;
}
.inputContainer{
    display: flex;
    position: relative;
    width: 400px;
    justify-content: space-between;
    flex-direction: column;
    margin: 30px;
}
.inputInfo{
    margin-left: 16px;
    color: #8a8a8a;
    font-size: 13px;
    margin-top: 6px;
    width: 200%;
}
.multiple{
    width: 100%;
    display: flex;
}
.deletable{
    background-color: #0084ff;
    color: white;
    margin: 0 10px;
    font-size: 14px;
    height: 30px;
    padding: 7px 12px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
}
.info{
    position: absolute;
    top: -50px;
    right: -105px;
    height: 40px;
    background-color: #e6e6e6;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    padding: 7px 12px;
    border-radius: 5px;
}
.flexContainer{
    display: flex;
    width: 100%;
    margin: 30px;
}
.info::before{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 8px solid #e6e6e6;
    border-bottom: 10px solid transparent;
    left: -8px;
    content: "";
    position: absolute;
}
.danger{
    color: #dc3545;
    font-weight: bold;
    font-size: 14px;
    margin: 0 5px;
}
.checkboxContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    margin: 30px;
}
.checkboxContainerFlex{
    display: flex;
    width: 30%;
    justify-content: space-between;
    flex-direction: column;
}

.percentageContainer{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}



.shortInputContainer{
    width: 200px;
    margin: 5px 10px;
    display: flex;
    align-items: center;
}

.inputContainerFull{
    width: 100%;
    position: relative;
    margin: 30px;
}
.shortInput{
    width: 30%;
}
.percentLabel{
    margin-left: 10px;
}

.percentLoaderContainer{
    width: 80%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    
}
.percentLoader{
    height: 10px;
    width: 80%;
    overflow: hidden;
    margin-right: 10px;
    border: 1px solid #0084ff;
}
.percentLoaderFull{
    height: 100%;
    width: 80%;
    background-color: #0084ff;
    transition: width 0.5s;
}
.percentNumber{
    font-size: 14px;
    font-weight: bold;
}

.flexContainerEditable{
    display: flex;
    width: 100%;
    margin: 30px;
    flex-direction: column;
}